


body{
  font-family:'Roboto', sans-serif;
  margin: 3px;

  
}


/*------------------- encabezado --------------------------------------------------*/
.encabezado{
  
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4px;
  padding: 6px;
}

.divimagenapps{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  transition: background-color, 0.2s;
  position: relative;
  margin-right: 2px;

}

.divimagenapps:hover{
  background-color: rgb(251, 246, 246);
  cursor: pointer;

  

}

.imagenapps{
  height: 25px;
  padding: 4px;
}

.cartelApps{
  position: absolute;
  font-size: 13px;
  white-space: nowrap;
  bottom: -25px;
  background-color: rgb(81, 80, 80);
  color: white;
  padding: 5px 7px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;

}

.divimagenapps:hover .cartelApps{
  opacity: 1;
  transition-delay: 0.5s;                         /*tiempo de aparicion del cartel*/
}

.divimagenapps:not(:hover) .cartelApps{           /*cuando el puntero sale del elemento*/
  transition-delay: 0s;
}

.divimagenperfil{
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
  margin-left: 2px;
  position: relative;
}

.cartelPerfil{
  width: 160px;
  position: absolute;
  font-size: 13px;
  background-color: rgb(81, 80, 80);
  color: white;
  bottom: -55px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

.p1, .p2, .p3 {          /*margen entre parrafos*/
  margin:0;
}

.p2,.p3{
  color: rgb(203, 198, 198);
}


.imagenperfil{
  height: 32px;
  border-radius: 50%;
  padding: 4px;

}

.divimagenperfil:hover .cartelPerfil{
  opacity: 1;
  transition-delay: 0.5s;
}

.divimagenperfil:not(hover) .cartelPerfil{
  transition-delay:0s
}
.divimagenperfil:hover{
  background-color: rgb(251, 246, 246);
  cursor: pointer;
}

.gmail, .googleimagenes{
  font-size: 13px;
}

.gmail, .googleimagenes{
  color: rgb(31, 31, 31);
  margin-right: 15px;
  text-decoration: none;           /*sacarle el subrayado*/
  

}
.gmail:hover, .googleimagenes:hover{
  margin-right: 15px; 
  text-decoration: underline;            /*agregarle el subrayado*/

}

/*---------------------- google logo --------------------------*/

.googlelogo{
  margin-top: 40px;
  width: 100%;
  display:flex;
  justify-content: center;

}

/*---------- buscador -------------*/
.divbuscador{
  padding: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;

  align-items: center;
}


.barradebusqueda{
  top: 0;
  position: relative;
             
  
}


.lupa{

  height: 23px;
  position: absolute;                           /*relative y absolute para poner las imagener dentro de la barra*/
  margin-top: 12px;
  left: 14px;
  cursor: pointer;
  
}


.barra{
  height: 45px;
  width: 470px;
  font-size: 15px;
  border: 1px solid rgb(235, 225, 225); 
  border-radius: 24px;
  padding-left: 48px;         /*sangria en la barra de busqueda*/
  
  
}

.barra:hover{
  cursor: text;
  border-color: rgb(185, 188, 188);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}


.barra:focus{
  border-color:rgb(185, 188, 188);
  outline: none;               /*ancho negro predertimado de la barra*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.microfono, .busquedaporimagen{
  position: absolute;
  height: 23px;
  margin-top: 12px;
  right:15px;
  cursor: pointer;
}
  


.microfono{
  right:53px
}

.botones{

  
  padding: 18px;
  
}


.boton1, .boton2{
  border: none;
  background-color: rgb(248, 249, 250);
  border-bottom-color: rgb(248, 249, 250);
  font-size: 14px;
  padding: 10px 19px;
  margin: 11px;
  border-radius: 4px;
  
  
  
}

.boton1:hover, .boton2:hover{
  cursor: pointer;
  border: 1px solid rgb(231, 222, 222);

  
}
.penultimopie{
  background-color: rgb(245, 245, 245);
  color: rgb(31, 31, 31);
  height: 17px;
  font-size: 15px;
  padding: 15px 0 15px 30px;
  position: fixed;
  bottom: 45px;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(218, 220, 224);
  
 
}


.ultimopie{
  background-color: rgb(245, 245, 245);
  height: 45px;
  display:flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  align-items: center;
  right: 30px;
  left: 30px;
}


.iz{
  margin-right: 30px;
}

.de{
  margin-left: 30px;
}


.iz,.de{
  color: rgb(31, 31, 31);
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;

}
.iz:hover, .de:hover{
  text-decoration: underline;
}